footer{
	margin:0,auto;
	font-size:65%;
	max-width: 940px;
        font-family: Verdana;
        text-align:center;
        justify-content: center;
    padding:20px 0;
    
}
footer p{
	margin:0; 
        padding:5px;
        
}